@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
	font-family: Red Hat Text;
}

body {
	background-color: #fcf8f6;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 0.025fr;
}

.Box {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(9, 1fr);
	gap: 10px;
}

.Box > article {
	border: 0;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.Name {
	color: #87635a;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

.FullName {
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

.Price {
	color: #c73b0f;
	padding: 0px 0px 40px 0px;
	margin: 0;
}

article > img {
	height: 30vh;
	width: 100%;
	border-radius: 15px;
	object-fit: cover;
	transition: 1s;
}

article {
	border-radius: 15px;
	transition: 0.25s;
}

.Cart {
	background-color: white;
	border-radius: 15px;
	height: 100%;
	padding: 15px;
}

.Cart > h1 {
	color: #c73b0f;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article > .center {
	width: 100%;
}

.ACart {
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 27vh;
	transition: 1s;
}

main .ArtBTN:first-child {
	background-color: white;
	border: 1px solid #ad8a85;
}

main .ArtBTN:last-child {
	display: none;
	background-color: #c73b0f;
}

main .ArtBTN:last-child > button {
	background-color: transparent;
	border: 0;
}

main .ArtBTN:last-child > p {
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

.ArtBTN {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-radius: 666px;
	width: 60%;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

.select > img {
	outline: 2px solid #c73b0f;
}

.select .ArtBTN:first-child {
	display: none;
}

.select .ArtBTN:last-child {
	display: flex;
}

@media screen and (min-width: 700px) {
	.Box {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.ZCart {
		top: 27vh;
	}
}

.Item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Item-Info {
	display: flex;
	gap: 10px;
}

.Item > .Item-Name {
	color: #260f08;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

.Item-Info > p {
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
}

.Item-Info > p:nth-child(1) {
	color: #c73b0f;
	font-weight: 600;
}

.Item-Info > p:nth-child(2) {
	color: #87635a;
	font-weight: 400;
}

.Item-Info > p:nth-child(2) {
	color: #87635a;
	font-weight: 600;
}

.Cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.Cards > button {
	background: transparent;
	border: 0;
}

@media screen and (min-width: 1000px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.Cart {
		height: 30vh;
	}

	.ZCart {
		top: 12.6vw;
	}
}
